.title {
    font: var(--font-l);
    margin-top: 30px;
    color: var(--main-color);
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    margin-top: 5px;
}

.restInfo {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
}

.imgWrapper {
    margin-top: 30px;
    text-align: center;
}

.imgWrapper img {
    border-radius: 10px;

}

.restTitle {
    margin: 20px 0;
    font: var(--font-l);
    font-weight: 700;
    color: var(--main-color);
}

.info {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 25px;

}

.infoItem {
    text-align: center;
    width: 25%;
}

.infoItem div {
    font: var(--font-l);
    color: var(--main-color)
}
