.title {
    font: var(--font-l);
    margin-top: 30px;
    color: var(--main-color);
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color:  var(--main-color);
}

.aboutHotel {
    margin: 30px 0;
    display: flex;
    gap: 30px;
}

.marketing {
    font-weight: 700;
    margin-bottom: 10px;
}

.img {
    border-radius: 10px;
}