.Carts {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.Cart {
   border-radius: 10px;
   width: 30%;
   text-align: center;
   padding: 20px 15px;
   box-shadow: var(--card-shadows);
}

.Cart img {
    width: 145px;
}

.title {
    font: var(--font-l);
    margin: 20px 0;
    color: var(--main-color);
}

.suptitle {
    font: var(--font-m)
}

