.Navbar {
    padding: 40px 15px;
    background-color: #d7d7d7;
}

.logo {
    width: 100%;
    height: 100%;
}

.links {
    font: var(--font-m);
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 60px;
}

.links a {
    color: #000;

    transition: color .2s linear;
}

.links a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: left;
}