.title {
    margin-top: 30px;
    font: var(--font-l)
}

.title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 3px; 
    background-color: black; 
    margin-top: 5px; 
}
