.ServiceCart {
    width: 32%;
    padding: 20px;
    box-shadow: var(--card-shadows);
    border-radius: 10px;
}


.serviceTitle {
    font: var(--font-l);
    color: var(--main-color);
    margin-bottom: 15px;
}